.news-item {
  border-bottom: 1px solid #e1e1e1;
  &__title{
    margin-bottom: 10px;
    a{
      color: #1890d7;
      &:hover{
        color: #3fb7ff;
      }
    }
  }
  .row{
    margin-left: 0;
  }
  .thumb{
    img{
      width: 232px;
      height: 174px;
      margin: 0 10px 10px 0;
      border: 1px solid #f9f9f9;
      background: #fff;
    }
  }
  .content{
    p{
      margin: 0;
      font-weight: 600;
    }
  }
}
