mixin news-item(title, img, content)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +news-item()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .news-item.news-item-wrap
    .news-item__title
      a(href="new-detail.html")=title
    .row
      .thumb.float-left 
        img(src=img, alt="")
      .content
        p=content
      .clear-fix
  //.news-item-wrap
