.product-viewlist {
  border: 1px solid #EEEEEE;
  overflow: hidden;
  padding: 10px;
  transition: all 300ms;
  &:hover{
    box-shadow: 1px 1px 3px 2px rgba(0,0,0,.13);
  }
  &__img{
    img{
      display: table-cell;
      width: 212px;
      height: 212px;
      vertical-align: middle;
      text-align: center;
    }
  }
  &__name{
    h3{
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
    }
    a{
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &__code{
    h4{
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
  &__price{
    h4{
      font-weight: 300;
      font-size: 1em;
    } 
    color: #D10B0B;
    text-transform: uppercase;
  }
  .col-sm-4{
    @media screen and (max-width:525px){
      width: 100%;
    }
  }
  .col-sm-8{
    @media screen and (max-width:525px){
      width: 100%;
    }
  }
}
