mixin product-viewlist(img,name, code, status)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +product-viewlist()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .product-viewlist.product-viewlist-wrap
    .row
      .col-sm-4
        .col-wrap
          .product-viewlist__img
            a(href="#")
              img(src=img, alt="")
      .col-sm-8
        .col-wrap
          .product-viewlist__name
            h3
              a(href="#")=name
          .product-viewlist__code
            h4 
              span Mã: 
              span=code
          .product-viewlist__status
            p
              span Tình trạng: 
              span=status
          .product-viewlist__price
            a(href="#").contact Thêm vào giỏ
      .clear-fix
  //.product-viewlist-wrap
