.item-product {
	background: #eee;
	border: 1px solid #e1e1e1;
	position: relative;
	.product-img {
		position: relative;
	}
	.product-description{
		padding-bottom: 15px;
	}
	.product-img a:not(.img-cover) {
		display: block;
	}
	.product-img img {
		width: 100%;
		height: 220px;
	}
	.img-cover {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #fff;
		opacity: 0.8;
		display: none;
	}
	span.view-label {
		color: black;
		border: 1px solid black;
		border-radius: 5px;padding: 8px 20px;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 500;
		position: absolute;
	}
	h6.title a {
		display: inline-block;
		margin: 0;
		font-size: 1.1em;
		font-weight: 400;
	    padding: 0.5em;
	    line-height: 1.5em;
	    height: 5.2em;
	    overflow: hidden;
	    text-transform: uppercase;
	    height: 73px;
	    transition: 0.25s;
	    font-size: 15px;
	}
	h6 {
		margin: 0;
	}
	h6.title a:hover {
		color: #1890d7;
	}
	a.contact {
		padding: 0.5em;
		color: #D10B0B;
		font-weight: 500;
		display: inline-block;
		border:1px solid;
		border-radius: 5px;
		margin-bottom: 5px;
		font-size: 1.2em;
		transition: 0.2s;
	}
	a.contact:hover {
		color: #1890d7;
	}
	a.new-label {
		display: inline-block;
		background-color: #1890d7;
		color: white;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 3px;
		width: 46px;
		line-height: 19px;
		font-size: 13px;
	}

}
.item-product:hover {
	.img-cover {
		display: block;
	}
}