mixin item-product(title, urlimg)
  section.item-product.item-product-wrap.text-center
    .product-img
      a(href="product-detail.html")
        img(src=urlimg, alt=title)
      a.img-cover(href="product-detail.html")
        span.view-label XEM
    .product-description
      h6.title(href="product-detail.html")
        a(href="#")=title
      a(href="#").contact Thêm vào giỏ
    a.new-label(href="#") new 
  //.item-product-wrap
