mixin item-news(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +item-news()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .item-news.item-news-wrap

  //.item-news-wrap
