/*********************
    - 2. General -
*********************/

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li {
  @include dis(middle);
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: middle;
}

.container {
  margin: 0px auto;
  max-width: 1200px;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear-fix,
.clearfix {
  clear: both;
}
.text-center {
  text-align: center;
}
.row {
  overflow: hidden;
  margin: 0 -10px;
}
.col-20 {
  width: 20%;
  float: left;
  padding: 0 10px;
}
.col-3 {
  width: 25%;
  float: left;
  padding: 0 10px;
}
.col-9 {
  width: 75%;
  float: left;
  padding: 0 10px;
}
.col-80 {
  width: 80%;
  float: left;
  padding: 0 10px;
}
.col-3 {
  width: 25%;
  float: left;
  padding: 0 10px;
}
.text-right {
  text-align: right;
}