.acount-menu{
    &__inner{
        margin-right: 15px;
    }
}
.cart-menu{
    position: relative;
    .icon {
        margin-right: 5px;
    }
    .text-right {
        vertical-align: bottom;
        color: #414141;
        transition: all 0.3s;
        font-size: 1em;
    }
    .text-right:hover{
        color: #1890d7;
    }
    .proinshop{
        position: absolute;
        right: -8px;
        top: 0;
        color: #D10B0B;
        font-weight: bold;
        z-index: 10;
    }
    .card{
        color: #41414141;
    }
}
.hotline{
    text-align: right;
    margin: 7px 0;
    font-size: 22px;
    font-weight: 900;
    .number-phone{
        color: red;
    }
}
#navigate-main{
    .img-product {
        width: 60px;
        display: block;
        margin: 0 auto;
    }
    background-color: #1890d7;
}
.menu-main{
    a{
        font-size: 14.6px;
    }
    li{
        margin: 0 15px;
    }
    .margin-left-none{
        margin-left: 0;
    }
    .margin-right-none{
        margin-right: 0;
    }
}
.navigate{
    position: relative;
}
.menu-c1{
    a{
        color: #fff;
        display: block;
    }
    li{
        padding: 12px 0;
    }
    li:hover .menu-c2{
        display: block;
    }
}
.menu-c2{
    transition: all 0.3s;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius:0 0 10px 10px ;
    z-index: 100;
    width: 100%;
    a{
        text-transform: uppercase;
        font-size: 0.9em;
        display: block;
        color: #000;
        &:hover{
            color: #1890d7;
        }
    }
    li{
        margin: 0 15px;
    }
    .name-product {
        margin-top: 10px;
        display: block;
    }
}

.search{
    position: relative;
    input{
        padding: 6px 5px 5px 5px;
        border-radius: 5px;
        border: 1px solid #333;
        outline: 0;
        width: 280px;
    }
    .button-search {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.col-20{
    width: 20%;
    float: left;
}
.col-30{
    width: 30%;
    float: left;
}
.footer-top{
    background-color: #f9f9f9;
    padding: 30px 0;
    .col-20{
        @media screen and (max-width:768px){
            width: 100%;
        }
    }
    .col-30{
        @media screen and (max-width:768px){
            width: 100%;
        }
    }
    h3{
        margin: 10px 0  20px 0;
    }
    h3.title-widget{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        color: #1890d7;
    }
    ul.list-widget{
        a{
            color: #414141;
            &:hover{
                color: #1890d7;
            }
        }
        padding-left: 20px;
        li{
            margin: 7px 0;
        }
    }
    .nav-cat-title{
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px 0;
        border-bottom: 1px solid #e1e1e1;
    }
}
#header{
    padding: 15px 0;
    .name{
        color: #1890d7;
        font-size: 27px;
        margin: 40px 0 23px 0;
        font-family: 'Kodchasan', sans-serif;
        font-weight: bold;
    }
}
.footer-bottom{
    padding: 20px 0;
    text-align: right;
    background-color: #1890d7;
    color: #fff;
    p{
        margin: 7px 0;
    }
}
nav#navigate-main{
    z-index: 9999;
}
nav#navigate-main.fixed{
    position: fixed;
    width: 100%;
    top: 0px;
    .navigate{
        margin-top: 0;
    }
}
