.part {
  padding: 15px 0;
}

.slide-show {
  .slide-main {
    width: 60%;
    float: left;
    padding: 0 10px;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .slide-tabs {
    width: 40%;
    float: left;
    padding: 0 10px;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  i {
    vertical-align: middle;
  }
  .owl-nav button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: inline-block;
    border: 0;
    outline: 0;
    text-align: center;
  }
  .owl-theme .owl-nav [class*=owl-] {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: inline-block;
    border: 0;
    outline: 0;
  }
  .owl-theme .owl-nav [class*=owl-]:hover {
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.6);
  }
  button i {
    font-size: 18px;
    color: #f1f1f1;
  }
  button.owl-dot {
    outline: 0;
  }
  .owl-carousel {
    position: relative;
  }
  button.owl-next {
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    position: absolute;
  }
  button.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    position: absolute;
  }
  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .owl-theme .owl-dots .owl-dot span {
    background-color: #666;
  }
  .owl-theme .owl-dots .active span {
    background-color: #000;
  }
  .slide-tabs .item {
    padding: 10px;
    height: 310px;
    overflow-y: scroll;
    border: 1px solid #f9f9f9;
  }
  .slide-tabs img {
    width: 60px;
    height: 45px;
    margin-right: 7px;
  }
  .item li {
    padding-bottom: 6px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  a.tab {
    line-height: 35px;
    padding: 0 10px;
    display: inline-block;
    background-color: #e1e1e1;
    margin-right: 1px;
    @media screen and (max-width: 335px) {
      padding: 0 6px;
    }
  }
  .item li a:hover {
    span {
      color: #1890d7;
    }
  }
  .tab-active {
    color: white;
    background-color: #1890d7;
  }
}

.part-title-bar {
  width: 100%;
  border-bottom: 3px solid #1890d7;
  h5 {
    font-size: 23px;
    color: #1890d7;
    margin: 0;
    font-weight: 500;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    border-right: 1px solid #c1c1c1;
    margin: 0 -2px;
  }
  li:last-child {
    border: 0;
    transition: 0.25s;
  }
  li a:hover {
    color: #1890d7;
  }
  .part-title-menu {
    text-align: right;
  }
  li a {
    padding: 0 10px;
  }
  .list-icon {
    display: none;
    color: #1890d7;
    i {
      vertical-align: middle;
      font-size: 20px;
    }
  }
  margin: 15px 0;
  width: 100%;
  border-bottom: 3px solid #1890d7;
  .col-3 {
    @media screen and (min-width: 768px) {
      width: 40%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .col-9 {
    @media screen and (min-width: 768px) {
      width: 60%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .part-title-menu {
    text-align: center;
    position: relative;
    @media screen and (max-width: 768px) {
      .icon-show {
        position: absolute;
        top: -20px;
        width: 20px;
        height: 20px;
        right: 10px;
        i {
          color: #1890d7;
        }
      }
    }
    .icon-show {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
  h5 {
    font-size: 23px;
    color: #1890d7;
    margin: 0;
    font-weight: 500;
  }
  ul {
    margin: 0;
    padding: 0;
    display: block;
    @media screen and (max-width: 768px) {
      background-color: #D9F3FF;
      display: none;
    }
  }
  li {
    display: inline-block;
    border-right: 1px solid #c1c1c1;
    margin: 0 -2px;
    @media screen and (max-width: 768px) {
      display: block;
      text-align: left;
      padding: 15px 10px;
    }
  }
  li:last-child {
    border: 0;
    transition: 0.25s;
  }
  li a:hover {
    color: #1890d7;
  }
  .part-title-menu {
    text-align: right;
  }
  li a {
    padding: 0 10px;
  }
  margin: 15px 0;
}

.typical-product {
  img {
    width: 100%;
    height: 300px;
  }
}

#main-content {
  width: 80%;
  float: left;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

#suggestion {
  width: 20%;
  float: right;
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.products-detail {
  .product-main-detail {
    padding: 20px 0;
  }
  .image-to-show {
    width: 40%;
    padding: 0 10px;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .product-content {
    width: 60%;
    padding: 0 10px 20px;
    border-bottom: 1px solid #e5e5e5;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .sliders {
    border: 1px solid #e5e5e5;
  }
  .sliders img {
    width: 100%;
    height: 350px;
  }
  .thumbnails-block {
    text-align: center;
  }
  a.tab-thumbnail {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .link-catalog a {
    margin-right: 15px;
    font-size: 13px;
  }
  .link-catalog a:hover {
    color: #1890d7;
  }
  .link-catalog {
    margin-bottom: 15px;
  }
  h1.product-title {
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
  }
  .text-red {
    color: #ff6600;
  }
  .content-info span.unit {
    border-right: 1px solid #e5e5e5;
    padding: 0 15px;
  }
  .content-info span.unit:first-child {
    padding-left: 0;
  }
  .content-info span.unit:last-child {
    border: 0;
  }
  .content-info {
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
  }
  .product-short-description {
    padding-left: 15px;
    border-left: 5px solid #1890d7;
  }
  .product-short-description p {
    font-size: 14px;
  }
  .price-number {
    color: red;
    font-size: 16px;
  }
  .price-status {
    padding-left: 20px;
    padding-top: 10px;
    width: 60%;
    float: left;
    @media screen and (max-width:768px) {
      width: 100%;
    } 
  }
  .support-buying {
    width: 40%;
    float: left;
    padding: 15px;
    @media screen and (max-width:768px) {
      width: 100%;
    } 
  }
  .support-link {
    font-size: 13px;
    color: #505050;
  }
  .phone-number {
    font-size: 14px;
  }
  .support-buying li {
    list-style: none;
    padding: 5px 0;
  }
  .support-buying ul {
    margin: 0;
    padding: 0;
  }
  .support-buying {
    background-color: #f4f4f4;
  }
  .support-buying a:hover {
    color: #1890d7;
  }
  .buy-now-btn {
    width: 187px;
    height: 48px;
    color: white;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    background-image: linear-gradient(#1392dd, #0d6193);
    cursor: pointer;
    background-color: #1890d7;
    outline: none;
  }
  .buy-button {
    margin-top: 40px;
  }
  .menu-info {
    ul {
      margin: 0;
      padding: 0;
      border-bottom: 2px solid #1890d7;
    }
    li {
      list-style: none;
      display: inline-block;
      margin-right: 1px;
    }
    a {
      background-color: #f4f4f4;
      line-height: 34px;
      font-size: 14px;
      padding: 0 15px;
      display: inline-block;
      color: #333;
    }
    a:hover {
      background-color: #1890d7;
      color: white;
    }
    li:first-child a {
      background-color: #1890d7;
      color: white;
    }
  }
  h2.product-sub-title {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: 2px solid #e5e5e5;
  }
  .product-content-text {
    text-align: justify;
    line-height: 1.3;
  }
  .sub-element-title {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .anh-minh-hoa h6 {
    font-size: 15px;
    margin: 10px 0;
  }
  div.thong-so {
    margin: 7px 0;
  }
  .table-thongso {
    border-collapse: collapse;
    margin-top: 20px;
    td.unit {
      width: 200px;
    }
    td.value {
      width: 300px;
    }
    td {
      padding: 5px;
    }
  }
  .buy-now-field {
    margin-top: 50px;
    background-color: #fafafa;
    border-left: 7px #008000 solid;
    padding: 20px;
    h4.product-name {
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 5px;
      letter-spacing: 1.3px;
    }
    .thumb {
      margin-right: 20px;
    }
    .thumb img {
      width: 78px;
      height: 78px;
    }
    .the-price {
      padding-right: 15px;
      line-height: 40px;
      border-right: 1px solid #ededed;
    }
    .the-status {
      line-height: 40px;
      padding-left: 15px;
    }
    .buy-button {
      margin-top: 10px;
    }
  }
  section#main-content {
    padding-right: 5px;
    border-right: 1px solid #e5e5e5;
  }
  #content-wrap {
    margin-top: 40px;
  }
  aside#suggestion {
    padding-left: 5px;
  }
  h4.title-suggestion {
    font-size: 14px;
    color: #505050;
    border-bottom: 1px solid #e5e5e5;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .product-items {
    border: 1px solid #e5e5e5;
    padding: 10px 10px 20px;
    margin-bottom: 5px;
  }
}

.gio-hang {
  .content-wrap {
    margin: 25px 0;
  }
  .page-title h1 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #e1e1e1;
  }
  .product-information {
    width: 50%;
  }
  .product-price {
    width: 15%;
  }
  .product-amount {
    width: 13%;
  }
  .product-total-price {
    width: 22%;
  }
  .cart-caption {
    background-color: #e1e1e1;
    line-height: 50px;
    font-weight: 500;
  }
  .main-cart {
    margin-top: 25px;
  }
  .cart-row {
    padding: 0 15px;
  }
  .product-name {
    padding-left: 25px;
  }
  .product-information img {
    width: 80px;
    height: 80px;
    border: 1px solid #e1e1e1;
  }
  .saling-price {
    font-weight: 600;
    font-size: 17px;
  }
  .amount-field {
    width: 60px;
    height: 30px;
    padding: 5px;
  }
  .sum-price {
    font-weight: 600;
    font-size: 17px;
  }
  .cart-items {
    border: 1px solid #e1e1e1;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .product-price,
  .product-amount,
  .product-total-price {
    text-align: right;
  }
  .product-name,
  .product-price,
  .product-total-price,
  .product-amount {
    line-height: 50px;
  }
  .product-amount img {
    padding-left: 5px;
  }
  .cart-caption .product-information {
    padding-left: 70px;
  }
  .totaling {
    width: 33%;
  }
  .sum-money {
    color: black;
    line-height: 40px;
    font-weight: 600;
    font-size: 1.1em;
  }
  .paying {
    color: #c92e2a;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 50px;
  }
  .total-row {
    padding-top: 40px;
  }
  .submit-row a {
    display: block;
    background-color: #1890d7;
    padding: 0 8px;
    color: white;
    border-radius: 3px;
    transition: 0.25s;
  }
  .continue {
    line-height: 43px;
    margin: 5px;
  }
  .pay-now {
    margin: 8px 5px 5px;
    line-height: 36px;
  }
  .submit-row {
    padding-top: 40px;
  }
  .submit-row a:hover {
    background-color: #00507f;
  }
  .product-amount span {
    margin-right: 14px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .slide-show {
    .slide-main {
      width: 100%;
      float: none;
    }
    .slide-tabs {
      width: 100%;
      float: none;
      max-width: 640px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 960px) {
  .part-content {
    .col-20 {
      width: 100%;
      float: none;
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        height: auto;
      }
    }
    .col-80 {
      width: 100%;
      float: none;
    }
  }
  .products-detail {
    section#main-content {
      width: 100%;
      float: none;
      border: 0;
    }
    aside#suggestion {
      width: 100%;
      float: none;
      max-width: 400px;
      margin: 0 auto;
    }
    .item-product .product-img img {
      height: 300px;
    }
  }
}

@media screen and (max-width: 854px) {
  .gio-hang {
    .product-information {
      width: 40%;
    }
    .product-total-price {
      width: 20%;
    }
    .product-amount {
      width: 20%;
    }
    .product-price {
      width: 20%;
    }
    .totaling {
      width: 40%;
    }
  }
}

#header .logo{
  @media screen and (max-width: 768px){
      float: none;
      text-align: center;
  }
}
#header .logo img {
  width: 186px;
  height: 96px;
  @media screen and (max-width: 768px){
    width: 100px;
    margin-top: -10px;
    height: 50px;
  }
}