a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul.list-inline {
  margin: 0;
  padding: 0;
  word-spacing: -4px;
}

ul.list-inline>li {
  list-style: none;
  display: inline-block;
  word-spacing: 0;
}

.clear-fix {
  clear: both;
}

.col-sm-4 {
  width: 33.33%;
  float: left;
}

.col-sm-6 {
  width: 50%;
  float: left;
}

.col-sm-3 {
  width: 25%;
  float: left;
}

.col-sm-9 {
  width: 75%;
  float: left;
}

.col-sm-2 {
  width: 16.66%;
  float: left;
}

.col-sm-8 {
  width: 66.66%;
  float: left;
}

.col-sm-5 {
  width: 41.66%;
  float: left;
}

.col-sm-7 {
  width: 58.33%;
  float: left;
}

.col-sm-12 {
  width: 100%;
  float: left;
}

// .row {
//   margin-left: -15px;
//   margin-right: -15px;
// }
.col-wrap {
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 15px;
}

.fleft,
.float-left {
  float: left;
}

.fright,
.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.menu-page-title {
  padding: 0.5em 0em;
  margin: 0.5em 0em;
  border-bottom: solid 1px #e1e1e1;
  h1 {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
  }
}

.menu-page {
  padding-top: 15px;
  font-family: sans-serif;
  .col-sm-3.menu-page__left {
    .col-wrap {
      padding-right: 0;
    }
  }
  &__left {
    display: none;
    &.active {
      display: block;
    }
  }
}

.products-viewlist.active {
  display: block;
}

.products-viewlist {
  display: none;
}

.products-viewgrid.active {
  display: block;
}

.products-viewgrid {
  display: none;
}

a {
  &:hover {
    color: #1890d7;
  }
}

.content-left.about-page {
  .list-submenu {
    a {
      text-transform: none;
    }
  }
}

ul.list-submenu {
  padding: 10px;
  margin: 0;
  list-style: none;
  background: #eee;
  margin-bottom: 10px;
  position: relative;
  li {
    height: auto;
    margin: 10px 0 5px;
  }
  h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    a {
      background: url(images/icon_listquare.gif) no-repeat scroll left 5px;
      padding-left: 1em;
      color: #1E1E1E;
      font-size: 1em;
      &:hover {
        color: #1890d7;
        background: url(images/icon_listquare_hover.gif) no-repeat scroll left 5px;
      }
    }
  }
}

.nav-title {
  padding: 0.5em 0em;
  margin: 0.5em 0em;
  border-bottom: solid 1px #e1e1e1;
  font-size: 17px;
  font-weight: 300;
  a {
    padding-right: 5px;
  }
}

#viewgrid {
  background: url(images/icon_viewgrid.png) no-repeat scroll 0 bottom transparent;
  display: inline-block;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin: 0px 3px;
  &.active {
    background: url(images/icon_viewgrid.png) no-repeat scroll 0 top transparent;
  }
}

#viewlist {
  background: url(images/icon_viewlist.png) no-repeat scroll 0 bottom transparent;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0px 3px;
  cursor: pointer;
  &.active {
    background: url(images/icon_viewlist.png) no-repeat scroll 0 top transparent;
  }
}

.product-filter {
  padding: 0.5em 1em;
  p {
    margin: 0;
  }
  .product_viewstyle {
    li {
      p {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  .showBox label {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .sortBox label {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.navigate {
  font-size: 1.2em;
  margin-top: 1em;
  .col-sm-5{
    @media screen and (max-width:768px) {
      width: 100%; 
    }
  }
  .col-sm-7{
    @media screen and (max-width:768px) {
      width: 100%; 
    }
  }
  p {
    margin: 0;
  }
  &__right {
    li {
      a {
        border: 1px solid #1E1E1E;
        display: inline-block;
        color: #fff;
        margin-left: 0.5em;
        padding: 0.1em 0.5em;
        font-size: 0.8em;
        color: #1E1E1E;
        &:hover {
          background: none repeat scroll 0 0 #1890d7;
          border: 1px solid #1890d7;
          color: #fff;
        }
      }
    }
  }
}

.products-list {
  .row {
    margin-right: 0;
  }
  .col-wrap {
    padding-right: 0;
  }
}

.content-right.about-page {
  .nav-title {
    p {
      margin: 0;
      font-size: 1.3em;
    }
  }
}
.new-detail-page{
  .nav-title{
    a{
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }
  }
  .new-detail__title{
    color: #1890d7;
    font-size: 20px;
  }
}
.contact-page {
  .content-right.about-page {
    .nav-title {
      p {
        margin: 0;
        font-size: 1em;
      }
    }
  }
  .content-left.about-page{
    a{
      line-height: 20px;
    }
  }
  .address__form {
    input,
    textarea {
      display: block;
      font-family: sans-serif;
      margin-bottom: 15px;
    }
    input {
      width: 180px;
      height: 30px;
      outline: #1890d7;
      padding: 6px 5px 5px 5px;
      border: 1px solid #DDDDDD;
    }
    textarea {
      width: 100%;
      outline: #1890d7;
      padding: 6px 5px 5px 5px;
      border: 1px solid #DDDDDD;
    }
    button {
      position: relative;
      display: inline-block;
      margin: 0.5em 0;
      padding: 0.3em 0.5em;
      background: #1890d7;
      border-radius: 3px;
      text-decoration: none;
      font-size: 1em;
      color: #FFF;
      border: 1px solid #1890d7;
    }
  }
}

.container {
  @media screen and (max-width: 1200px) {
    width: 992px;
  }
  @media screen and (max-width: 992px) {
    width: 760px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
  }
}

.menu-page {
  .col-sm-3 {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .col-sm-9 {
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  .products-list {
    .col-sm-3 {
      @media screen and (max-width: 992px) {
        width: 50%;
      }
      @media screen and (max-width: 525px) {
        width: 100%;
      }
    }
  }
}

#navigate-main {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
nav.menu-mobie{
  display: none;
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  width:250px;
  background:#2A2A2A;
  color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  transition: all 0.3s;
  padding-left: 15px;
  @media screen and (max-width: 1200px) {
    display: block;
  }
  ul.menu-1{
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    li{
      position: relative;
      a{
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: inherit;
        line-height: 20px;
        display: block;
        padding: 10px 10px 10px 0px;
        margin: 0;
        color: #FAFAFA;
        border-bottom: 1px solid #fafafa;
      }
      span.icon-menu{
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        text-align: center;
        line-height: 40px;
        border-left: 1px solid #fafafa;
        display: block;
        width: 45px;
        height: 40px;
        transition: all 0.3s;
        i{
          transition: all 0.3s;
        }
        &.active{
          i{
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  ul.menu-2{
    list-style: none;
    display: none;
    padding-left: 0;
    background-color: #696969;
    li{
      position: relative;
      &:last-child{
        border-bottom: none;
      }
      a{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: inherit;
        line-height: 20px;
        display: block;
        padding: 10px 10px 10px 10px;
        margin: 0;
        color: #FAFAFA;
        border-bottom: 1px solid #fafafa;
      }
    }
  }
  .bar-mobie{
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #1890d7;
    color: #FAFAFA;
    right: -40px;
    top: 0;
    border-left: 1px solid #fafafa;
    @media screen and (min-width:768px) {
      top: 50px; 
    }
  }
}
nav.menu-mobie.active{
  left:0px;
}
#wrapper{
  transition: all 0.3s;
  position: relative;
  left: 0;
}
#wrapper.active{
  left: 300px;
}
.part-content{
  .col-20{
    @media screen and (max-width:992px) {
      width: 100%; 
    }
  }
  .col-80.list-product{
    @media screen and (max-width:992px) {
      width: 100%; 
    }
    .col-3{
      @media screen and (max-width:992px) {
        width: 50%; 
        .item-product{
          margin-bottom: 10px;
        }
      }
      @media screen and (max-width:525px) {
        width: 100%; 
      }
    }
  }
  .typical-product{
    text-align: center;
    img{
      @media screen and (max-width:992px) {
        max-width: 440px; 
      }
    }
  }
}
.slide-show .slide-main{
  @media screen and (max-width:992px) {
    width: 100%;
  }
}