extends _layouts/layout
block content
  .menu-page.contact-page
    .menu-page--wrapper
      .container
        .row
          .col-sm-3.menu-page__left.active
            .col-wrap
              nav.content-left.about-page
                ul.list-submenu
                  li
                    h2
                      a(href="#") Chính sách và quy định chung
                  li
                    h2
                      a(href="#") Chính sách Đổi - Trả hàng hóa
                  li
                    h2
                      a(href="#") Chính sách bán hàng và chất lượng hàng
                  li
                    h2
                      a(href="#") Chính sách bảo mật thông tin
                  li
                    h2
                      a(href="#") Chính sách vận chuyển, giao nhận hàng
                  li
                    h2
                      a(href="#") Chính sách Bảo hành sản phẩm
                  li
                    h2
                      a(href="#") Danh sách khu vực miễn phí dịch vụ
                  li
                    h2
                      a(href="#") Danh sách các đại lý tại Hà Nội
                  li
                    h2
                      a(href="#") Danh sách các đại lý tỉnh miền Bắc
                  li
                    h2
                      a(href="#") Danh sách các đại lý tại TP Hồ Chí Minh
                  li
                    h2
                      a(href="#") Danh sách các đại lý tỉnh miền Nam
          .col-sm-9
            .col-wrap
              .content-right.about-page
                .nav-title
                  p Liên hệ với chúng tôi
                .clear-fix
              .widget-news
                .address
                  .address__title
                    h5 Công Ty TNHH Sản Xuất và Thương Mại HDD Việt Nam
                  .address__content
                    p Địa chỉ: 
                      span sô 17, Ngõ 463/7 phố Đội Cấn , Phường Vĩnh Phúc, Quận Ba Đình, Thành phố Hà Nội, Việt Nam.
                    p Điện thoại: 
                      span 024.23.474.474 - Hotline: 0918.678.102
                    p STK : 
                      span 19022149655012 Ngân hàng Techcombank - Chi nhánh Hà Nội - Chủ tài khoản: Lê Trí Nam
                    p Email:  
                      span info@maydungcuvesinhcongnghiep.vn - Website: http://chv.vn/
                  .address__form
                    h3 Nội dung yêu cầu
                    form#send-address(action="")
                      input(type="text" name="require_name" placeholder="Họ Tên")
                      input(type="text" name="require_email" placeholder="Email")
                      textarea#require_text(name="require_text", cols="30", rows="10" placeholder="Nội dung")
                      button#send(type="submit") Gửi yêu cầu
                      button#del(type="button") Xóa trắng
          .clear-fix
  //#content