extends _layouts/layout
block content
    section#content
        .container
            .main-wrapper
                .nav-news-title Tạo tài khoản mới
                .content-wrap
                    .form-reg
                        form(action="" id="form-reg")
                            .row-form-reg
                                .col-3
                                    span Tên đăng nhập
                                        span.col-red *
                                .col-9
                                    input(type="text" id="name"  name="name")
                                .clearfix
                            .row-form-reg
                                .col-3
                                    span Email
                                        span.col-red *
                                .col-9
                                    input(type="email" id="email" name="email")
                                .clearfix
                            .row-form-reg
                                .col-3
                                    span Mật khẩu
                                        span.col-red *
                                .col-9
                                    input(type="password" id="pass1" name="pass1")
                                .clearfix
                            .row-form-reg
                                .col-3
                                    span Nhập lại mật khẩu
                                        span.col-red *
                                .col-9
                                    input(type="password" id="pass2" name="pass2")
                                .clearfix
                            .row-form-reg
                                .col-3
                                .col-9
                                   input(type="submit" placeholder="Gửi đi" value="Tạo tài khoản mới")
                                .clearfix