extends _layouts/layout
block content
  main#content.gio-hang
    .content-wrap
      .container
        .page-title
          h1 Giỏ hàng của bạn
        .main-cart
          .cart-caption.cart-row
            .product-information.fleft Thông tin sản phẩm
            .product-amount.fright Số lượng
            .clearfix
          .cart-items.cart-row
            .product-information.fleft
              img.fleft(src="images/s_may-cha-san-da-nang-HC005.png", alt="image")
              .product-name.fleft Máy chà sàn HC-005
              .clearfix
            .product-amount.fright
              input.amount-field(type="text" name="product_name")
              a(href="#")
                img(src="images/s_icon_del.png", alt="delete")
            .clearfix

          .cart-items.cart-row
            .product-information.fleft
              img.fleft(src="images/s_may-cha-san-da-nang-HC005.png", alt="image")
              .product-name.fleft Máy chà sàn HC-005
              .clearfix
            .product-amount.fright
              input.amount-field(type="text" name="product_name")
              a(href="#")
                img(src="images/s_icon_del.png", alt="delete")
            .clearfix
        .submit-row
          a.pay-now.fright(href="#") Đặt hàng
          a.continue.fright(href="#") Tiếp tục mua
          .clearfix