extends _layouts/layout
block content
  main#content
    #content-wrap
      .container
        .slide-show.part
          .row
            .slide-main.fleft
              .owl-carousel.owl-theme
                .item
                  img(src="images/s_slide-img-item1.png", alt="item1")
                .item
                  img(src="images/s_slide-img-item2.png", alt="item2")
                .item
                  img(src="images/s_slide-img-item3.png", alt="item3")
            .slide-tabs.fleft
              .menu-item
                a.tab(href="#1") Sản phẩm mới nhất
                a.tab(href="#2") Tin tức mới nhất
              .owl-carousel.owl-theme.slide-content
                .item(data-hash="1")
                  ul
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail.png", alt="thumbnail")
                        span.fleft.small-news-title Hóa chất lau kính  Klenco Power View
                        .clearfix
                .item(data-hash="2")
                  ul
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
                    li
                      a(href="#")
                        img.fleft.thumbnail(src="images/s_item-img-thumbnail-2.png", alt="thumbnail")
                        span.fleft.small-news-title Đánh bóng sàn uy tín và chuyên nghiệp
                        .clearfix
            .clearfix
        .hoa-chat.part
          .part-title-bar
            .row
              .col-3.part-title-name
                h5 Hóa chất vệ sinh công nghiệp
              .col-9.part-title-menu
                //change4
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul
                  li
                    a(href="#") Hóa chất Klenco
                  li
                    a(href="#") Hóa chất goodmaid
                  li
                    a(href="#") Hóa chất vệ sinh suzy
                  li
                    a(href="#") Hóa chất vệ sinh gift
              .clearfix
          .part-content
            .row
              .col-20.typical-product
                a(href="#")
                  img(src="images/s_hoa-chat-lau-kinh-klenco-power-view.png", alt="typical-product")
              .col-80.list-product
                .row
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_hoa-chat-tay-rua-inox-klenco-steel-shine.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_hoa-chat-tay-rua-inox-klenco-steel-shine.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_hoa-chat-tay-rua-inox-klenco-steel-shine.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_hoa-chat-tay-rua-inox-klenco-steel-shine.png")
                  .clearfix
              .clearfix
        .cleaning-tool.part
          .part-title-bar
            .row
              .col-3.part-title-name
                h5 Dụng cụ vệ sinh
              .col-9.part-title-menu
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul.list-relative-item
                //change1
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul
                  li
                    a(href="#") Dụng cụ lau sàn
                  li
                    a(href="#") Dụng cụ lau kính
                  li
                    a(href="#") Dụng cụ vệ sinh khác
              .clearfix
          .part-content
            .row
              .col-20.typical-product
                a(href="#")
                  img(src="images/s_tron-bo-lau-kinh-cao-cap-hc-043.png", alt="typical-product")
              .col-80.list-product
                .row
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/kep-gie-kho-hc-015a.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/kep-gie-kho-hc-015a.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/kep-gie-kho-hc-015a.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/kep-gie-kho-hc-015a.png")
                  .clearfix
              .clearfix

        .may-cha-san.part
          .part-title-bar
            .row
              .col-3.part-title-name
                h5 Máy chà sàn
              .col-9.part-title-menu
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul.list-relative-item
                //change2
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul
                  li
                    a(href="#") Máy chà sàn cầm tay
                  li
                    a(href="#") Phụ kiện máy chà sàn
                  li
                    a(href="#") Máy chà sàn liên hợp
              .clearfix
          .part-content
            .row
              .col-20.typical-product
                a(href="#")
                  img(src="images/s_may-cha-san-cong-nghiep-hc-2a.png", alt="typical-product")
              .col-80.list-product
                .row
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_may-cha-san-da-nang-HC005.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_may-cha-san-da-nang-HC005.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_may-cha-san-da-nang-HC005.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_may-cha-san-da-nang-HC005.png")
                  .clearfix
              .clearfix

        .may-hut-bui.part
          .part-title-bar
            .row
              .col-3.part-title-name
                h5 Máy hút bụi
              .col-9.part-title-menu
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul.list-relative-item
                //change3
                .icon-show
                  i.fas.fa-chevron-circle-down
                ul
                  li
                    a(href="#") Máy hút bụi công nghiệp
                  li
                    a(href="#") Máy hút bụi gia đình
                  li
                    a(href="#") Phụ kiện máy hút bụi
              .clearfix
          .part-content
            .row
              .col-20.typical-product
                a(href="#")
                  img(src="images/s_phu-kien-may-hut-bui-hc-056a.png", alt="typical-product")
              .col-80.list-product
                .row
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_dong-co-may-hut-bui-hc051.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_dong-co-may-hut-bui-hc051.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_dong-co-may-hut-bui-hc051.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_dong-co-may-hut-bui-hc051.png")
                  .clearfix
              .clearfix
            .tin-tuc-moi.part
          .part-title-bar
            .row
              .col-3.part-title-name
                h5 Tin tức mới nhất
              .col-9.part-title-menu
                .icon-show
                  i.fas.fa-chevron-circle-downx
              .clearfix
          .part-content
            .row
              .col-20.typical-product
                a(href="#")
                  img(src="images/s_danh-bong-san-da.png", alt="typical-product")
              .col-80.list-product
                .row
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_cach-giu-ben-mau-quan-ao.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_cach-giu-ben-mau-quan-ao.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_cach-giu-ben-mau-quan-ao.png")
                  .col-3
                    +item-product("Kẹp giẻ khô HC015A","images/s_cach-giu-ben-mau-quan-ao.png")
                  .clearfix
              .clearfix