extends _layouts/layout
block content
  .menu-page.new-detail-page
    .menu-page--wrapper
      .container
        .row
          .col-sm-3.menu-page__left.active
            .col-wrap
              nav.content-left.about-page
                ul.list-submenu
                  li
                    h2
                      a(href="#") Dụng cụ vệ sinh 
                  li
                    h2
                      a(href="#") Máy chà sàn 
                  li
                    h2
                      a(href="#") Máy hút bụi
                  li
                    h2
                      a(href="#") Máy giặt thảm, ghế
                  li
                    h2
                      a(href="#") Xe lau nhà
                  li
                    h2
                      a(href="#") Máy vệ sinh công nghiệp khác
                  li
                    h2
                      a(href="#") Hóa chất vệ sinh công nghiệp
          .col-sm-9
            .col-wrap
              .content-right.about-page
                .nav-title
                  a(href="#") Trang chủ
                  |&rsaquo;
                  a(href="#") Tin tức
                .clear-fix
              .new-detail__title
                p Đánh bóng sàn đá uy tín và chuyên nghiệp
              .widget-news
                p CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE ĐƯỢC BIẾT ĐẾN
                  | KHÔNG CHỈ LÀ ĐƠN VỊ HÀNG ĐẦU TRONG CUNG CẤP CÁC DỊCH VỤ VỆ SINH
                  | CÔNG NGHIỆP MÀ CÒN CUNG CẤP CÁC MÁY MÓC, DỤNG CỤ VÀ THIẾT BỊ
                  | LÀM SẠCH. KHÔNG GIỐNG VỚI CÁC ĐƠN VỊ KHÁC THƯỜNG CHỌN NHẬP KHẨU
                  | CÁC MÁY MÓC TỪ THƯƠNG HIỆU Ở NƯỚC KHÁC MÀ CHÚNG TÔI TRỰC TIẾP SẢN
                  | XUẤT VÀ PHÂN PHỐI VỚI THƯƠNG HIỆU RIÊNG CỦA MÌNH. 
                p VÌ SAO NÊN CHỌN CÁC SẢN PHẨM CỦA CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE?
                p - SẢN PHẨM CHÍNH HÃNG MANG THƯƠNG HIỆU CLEAN HOUSE, CÓ CHẾ ĐỘ ĐỔI TRẢ VÀ SỬA CHỮA SẢN PHẨM. 
                p - NHÀ MÁY SẢN XUẤT ĐÃ ĐƯỢC ĐĂNG KIỂM CHẤT LƯỢNG 
                p -GIÁ THÀNH CẠNH TRANH TRÊN THỊ TRƯỜNG 
                p - CHẾ ĐỘ BẢO HÀNH CHU ĐÁO VÀ SỰ PHỤC VỤ TẬN TÌNH NHÂN VIÊN
                p - BÁN HÀNG RẺ NHẤT, SẢN PHẨM TỐT NHẤT VÀ BẢO TRÌ MIỄN PHÍ.
                p - NHIỀU CHƯƠNG TRÌNH MIỄN PHÍ.
                p - SẢN PHẨM CÓ THIẾT KẾ HIỆN ĐẠI, CHUYÊN NGHIỆP, NHIỀU TÍNH NĂNG ƯU VIỆT, DDOJ BỀN CAO.
                p LUÔN LẮNG NGHE VÀ TIẾP THU Ý KIẾN ĐÓNG GÓP CỦA KHÁCH HÀNG ĐỂ NÂNG CAO CHẤT LƯỢNG DỊCH VỤ LÀM HÀI LÒNG KHÁCH HÀNG.
                p CLEAN HOUSE TIẾP TỤC TUYỂN CÁC ĐẠI LÝ BÁN BUÔN BÁN LẺ CÁC DÒNG MÁY THƯƠNG HIỆU CLEAN HOUSE TRÊN TOÀN QUỐC. THÔNG TIN CHI TIẾT BẠN XEM TẠI ĐÂY. 
                p CÔNG TY TNHH XUẤT NHẬP KHẨU VÀ SẢN XUẤT CLEANHOUSE
                p ĐỊA CHỈ: 136 HỒ TÙNG MẬU, CẦU GIẤY, HÀ NỘI
                p ĐIỆN THOẠI: 042.347.4474 - HOTLINE: 093.229.7300
                p EMAIL: INFO@MAYDUNGCUVESINHCONGNGHIEP.VN
                p WEBSITE: HTTP://MAYDUNGCUVESINHCONGNGHIEP.VN/
          .clear-fix
  //#content