extends _layouts/layout
block content
  .menu-page
    .menu-page--wrapper
      .container
        .row
          .col-sm-3.menu-page__left.active
            .col-wrap
              nav.content-left
                .menu-page-title
                  a(href="#")
                    h1 Tin tức
                ul.list-submenu
                  li
                    h2
                      a(href="#") Tin tức khuyễn mãi
          .col-sm-9
            .col-wrap
              .content-right
                .nav-title
                  a(href="#") Trang chủ
                  |&rsaquo; Tin tức
                .clear-fix
              .products-list.products-viewgrid.active
                .row
                  -for(i=0 ; i< 5 ; i++)
                    .col-sm-12
                      .col-wrap
                        +news-item("đánh bóng sàn đá uy tín và chuyên nghiệp", "images/ta_news-item1.png", "sàn đá sau một thời gian sử dụng nó bị xấu đi không được bóng sáng như mới quy trình đánh bóng sàn giúp bạn lấy lại độ bóng sáng như mới")
                  .clear-fix
              .products-list.products-viewlist
                .row
                  -for(i=0 ; i< 12 ; i++)
                    .col-sm-12
                      .col-wrap
                        +product-viewlist("images/product__2.png","BỘ LAU KÍNH HỘP TRỌN BỘ HC-043", "HC-043", "Còn hàng", "570.000")
                  .clear-fix
          .clear-fix
  //#content