extends _layouts/layout
block content
  main#content.products-detail
    #content-wrap
      .container
        section#main-content
          .product-main-detail
            .link-catalog
              a(href="#") Trang chủ
              a(href="#") Dụng cụ vệ sinh
            .row
              .image-to-show.fleft
                .sliders.owl-carousel.owl-theme
                  .item(data-hash="1")
                    img(class="slide-images" src="images/s_ban-chai-nhua-038-039-040.png", alt="product-image")
                  .item(data-hash="2")
                    img(class="slide-images" src="images/s_dau-lau-san-uot-hc-013f.png", alt="product-image")
                #thumnails-block.thumbnails-block
                  a.tab-thumbnail(href="#1")
                    img(src="images/s_ban-chai-nhua-038-039-040.png", alt="product-image")
                  a.tab-thumbnail(href="#2")
                    img(src="images/s_dau-lau-san-uot-hc-013f.png", alt="product-image")
              .product-content.fleft
                h1.product-title CÂY BÀN CHẢI NHỰA HC-038B, HC-039B, HC-040B
                .content-info
                  span.code.unit Mã sản phẩm: 
                    span.value.text-red  HC-038B, HC-039B, HC-040B
                  span.view.unit Lượt xem: 
                    span.value.text-red 1218
                  span.update.unit Cập nhật:
                    time.value.text-red 2018-05-29 11:03:14
                .product-short-description
                  <p>Cây bàn chải nhựa HC-038B chiều dài: 25cm</p>
                  <p>Cây bàn chải nhựa HC-039B chiều dài: 45 cm</p>
                  <p>Cây bàn chải nhựa HC-040B chiều dài: 60 cm</p>
                  <p>Có bàn gạt nước và chất thải</p>
                .price-status
                  .product-status
                    img(src="images/s_status1.gif", alt="status1")
                .support-buying
                  ul
                    li
                      a.support-link(href="#") Hướng dẫn mua hàng
                    li
                      a.support-link(href="#") Chính sách đổi trả hàng
                    li
                      a.support-link(href="#") Chính sách bảo hành
                    li.phone Điện thoại: 
                      span.phone-number 024.23.474.474
                    li.mobile Hotline: 
                      span.phone-number 0918.678.102
                .clearfix
                .buy-button
                  button.buy-now-btn Mua ngay

            .clearfix
          
          .more-product-info
            .menu-info
              ul
                li
                  a(href="#chi-tiet-san-pham") Chi tiết sản phẩm
                li
                  a(href="#thong-tin-san-pham") Thông tin sản phẩm
                li
                  a(href="#thong-so-ky-thuat") Thông số kỹ thuật
                li
                  a(href="#nhan-xet") Nhận xét của khách hàng
            #chi-tiet-san-pham.product-content-text
              h2.product-sub-title CÂY BÀN CHẢI NHỰA HC-038B, HC-039B, HC-040B
              p Động cơ máy hút bụi đóng vai trò quyết định đối với hoạt động của thiết bị. Khi máy hút bụi bị động cơ trục trặc, máy sẽ hoạt động kém hiệu quả và bị nổ máy. Vì thế, bạn cần kiểm tra và bảo trì động cơ máy hút bụi thường xuyên để tăng cường tuổi thọ cho máy. Trong trường hợp bạn không thể sửa chữa động cơ thì cần phải thay thế mới. Do đó, bạn cần các địa chỉ uy tín để chọn mua động cơ máy hút bụi tốt nhất. Động cơ máy hút bụi công nghiệp HC050 có công suất 1000 Uw hoạt động mạnh mẽ cho hiệu quả nhanh chóng. 
              .sub-element
                h5.sub-element-title THÔNG TIN ĐỘNG CƠ MÁY HÚT BỤI CÔNG NGHIỆP HC050
                div Lực hút mạnh mẽ
                div Hoạt động ổn định nhiều giờ liền
                div Công suất 1000 W bảo hành 12 tháng 
                div Phù hợp với công việc dọn dẹp vệ sinh tại nơi có diện tích như: khách sạn, trung tâm thương mại, nhà ga, sân bay, các khu công nghiệp
              .sub-element
                h5.sub-element-title CÁC CÂU HỎI MÁY HÚT BỤI CÔNG NGHIỆP HC050
                div - Thời gian bảo hành bao lâu ? -> 12 tháng. 
                div - Thời gian giao hàng bao lâu ? -> Thời gian giao hàng: 1 - 7 ngày làm việc.
                div - Máy đã được kiểm tra chất lượng chưa? -> Máy đã có các giấy chứng nhận:  CE, UL, EMC VDE, IEC, ROHS ... đã được phê duyệt.
                div - Các hệ thống chất lượng đã đạt được cho nhà máy của bạn ? -> Chúng tôi đã đạt được: ISO9001: 2008, SGS CCC cho nhà máy của chúng tôi
                div - Mua sản phẩm bằng cách nào ? -> Nhanh chóng nhấn nút mua hàng hoặc gọi điện ngay cho hotline; 094 316 5678
              .text-center.anh-minh-hoa
                img(src="images/s_dong-co-may-hut-bui-hc050.png", alt="img")
                h6 ĐỘNG CƠ MÁY HÚT BỤI CÔNG NGHIỆP HC050
              .sub-element
                h5.sub-element-title Thông tin thương hiệu
                div Clean House là thương hiệu đã được đăng kí và hoạt động trong lĩnh vực cung cấp dịch vụ vệ sinh công nghiệp và dụng cụ máy móc làm sạch từ năm 2008. Do đó chúng tôi hiểu hơn ai hết về đặc tính, cách sử dụng các hóa chất vệ sinh, máy móc vệ sinh công nghiệp. Các sản phẩm Clean House phân phối như: Klenco, Goodmaid và Clean House. 
            
            #thong-tin-san-pham
              h2.product-sub-title THÔNG TIN SẢN PHẨM : ĐỘNG CƠ MÁY HÚT BỤI CÔNG NGHIỆP HC 050
              p Động cơ máy hút bụi công nghiệp HC050 có công suất 1000 W cho việc hoạt động ổn định và hiệu quả cao hơn. 
            #thong-so-ky-thuat
              h2.product-sub-title THÔNG SỐ KỸ THUẬT : ĐỘNG CƠ MÁY HÚT BỤI CÔNG NGHIỆP HC 050
              table.table-thongso(border="1")
                tr.thong-so
                  td.unit Mã SP
                  td.value HC 050
                tr.thong-so
                  td.unit Thương hiệu
                  td.value Clean House
                tr.thong-so
                  td.unit Công suất
                  td.value  1000 W
                tr.thong-so
                  td.unit Cân nặng
                  td.value  13.7kgs
                tr.thong-so
                  td.unit Kích thước
                  td.value 510*340*230mm 
            .buy-now-field
              h4.product-name ĐỘNG CƠ MÁY HÚT BỤI CÔNG NGHIỆP HC 050
              .thumb.fleft
                img(src="images/s_dong-co-may-hut-bui-hc050.png", alt="mayhutbui")
              .the-status.fleft
                img(src="images/s_status1.gif", alt="status")
              .buy-button.fright
                button.buy-now-btn Mua ngay
              .clearfix
            #nhan-xet
        aside#suggestion
          h4.title-suggestion GỢI Ý SẢN PHẨM
          .suggestion-inner
            .product-items
              +item-product("Hóa chất lau kính Klenco power view", "images/s_hoa-chat-lau-kinh-klenco-power-view.png")
            .product-items
              +item-product("Hóa chất lau kính Klenco power view", "images/s_hoa-chat-lau-kinh-klenco-power-view.png")
            .product-items
              +item-product("Hóa chất lau kính Klenco power view", "images/s_hoa-chat-lau-kinh-klenco-power-view.png")
            .product-items
              +item-product("Hóa chất lau kính Klenco power view", "images/s_hoa-chat-lau-kinh-klenco-power-view.png")
            .product-items
              +item-product("Hóa chất lau kính Klenco power view", "images/s_hoa-chat-lau-kinh-klenco-power-view.png")
            .product-items
              +item-product("Hóa chất lau kính Klenco power view", "images/s_hoa-chat-lau-kinh-klenco-power-view.png")
            //change
            .clear-fix
        .clearfix