extends _layouts/layout
block content
  .menu-page
    .menu-page--wrapper
      .container
        .row
          .col-sm-3.menu-page__left.active
            .col-wrap
              nav.content-left
                .menu-page-title
                  a(href="#")
                    h1 Xe lau nhà
                a(href="#")
                  img(src="images/tron-bo-lau-kinh-cao-cap-hc-043.png", alt="")
          .col-sm-9
            .col-wrap
              .part-title-bar
                .row
                  .col-3.part-title-name
                    h5 Xe lau nhà
                  .col-9.part-title-menu
                    //change4
                    .icon-show
                      i.fas.fa-chevron-circle-down
                    ul
                      li
                        a(href="#") Dụng cụ lau sàn
                      li
                        a(href="#") Dụng cụ lau kính
                      li
                        a(href="#") Dụng cụ vệ sinh khác
                  .clearfix
              .product-filter
                .row
                  .col-sm-4
                    .col-wrap
                      .product_viewstyle
                        ul.list-inline
                          li
                            p Hiển thị :
                          li#viewlist
                            a(href="") 
                          li#viewgrid.active
                            a(href="")
                  .col-sm-4
                    .col-wrap.text-center
                      .showBox
                        label Số lượng
                        select#numberShow(name="")
                          option(value="12" select) 12
                          option(value="24") 24
                          option(value="48") 48
                          option(value="72") 72
                          option(value="100") 100
                .clear-fix
              .products-list.products-viewgrid.active
                .row
                  -for(i=0 ; i< 12 ; i++)
                    .col-sm-3
                      .col-wrap
                        +item-product("BỘ LAU KÍNH HỘP TRỌN BỘ HC-043", "images/product__2.png")
                  .clear-fix
              .products-list.products-viewlist
                .row
                  -for(i=0 ; i< 12 ; i++)
                    .col-sm-12
                      .col-wrap
                        +product-viewlist("images/product__2.png","BỘ LAU KÍNH HỘP TRỌN BỘ HC-043", "HC-043", "Còn hàng", "570.000")
                  .clear-fix
              .navigate
                .row
                  .col-sm-5
                    .col-wrap
                      .navigate__left
                        p 
                          span Hiện có 
                          span 60 
                          span sản phẩm được tìm thấy
                  .col-sm-7
                    .col-wrap
                      .navigate__right.text-right
                        ul.list-inline
                          li
                            a(href="#") 1
                          li
                            a(href="#") 2
                          li
                            a(href="#") Sau
          .clear-fix
  //#content