footer#footer
    .footer-top
        .container
            .row-footer-top
                .col-20
                    .col-inner
                        .widget.menu-bottom
                            h3.title-widget Về chúng tôi
                            ul.list-widget
                                li
                                    a(href="about.html") Giới thiệu
                                li
                                    a(href="contact.html") Liên hệ với chúng tôi
                                li
                                    a(href="#") Tuyển dụng
                                li
                                    a(href="news.html") Tin tức
                .col-30
                    .col-inner
                        .widget.menu-bottom
                            h3.title-widget
                                a(href="#") CHÍNH SÁCH BÁN HÀNG VÀ QUY ĐỊNH
                            ul.list-widget
                                li
                                    a(href="#") Chính sách và quy định chung
                                li
                                    a(href="#") Chính sách Đổi - Trả hàng hóa
                                li
                                    a(href="#") Chính sách bán hàng và chất lượng hàng
                                li
                                    a(href="#") Chính sách bảo mật thông tin
                                li
                                    a(href="#") Chính sách vận chuyển, giao nhận hàng
                                li
                                    a(href="#") Chính sách Bảo hành sản phẩm
                                li
                                    a(href="#") Danh sách khu vực miễn phí dịch vụ
                .col-3
                    .col-inner
                        .widget.menu-bottom
                            h3.title-widget
                                a(href="#") Kiến thức
                            ul.list-widget
                                li
                                    a(href="#") Thương hiệu
                .col-3
                    .col-inner
                        .nav-cat-title.small.stand Facebook
                        .box-fanpage
                .clearfix
    .footer-bottom
        .container
            .info-company
                strong.name-company Công Ty TNHH Sản Xuất và Thương Mại HDD Việt Nam
                .footer-content-left 
                    p Địa chỉ: sô 17, Ngõ 463/7 phố Đội Cấn , Phường Vĩnh Phúc, Quận Ba Đình, Thành phố Hà Nội, Việt Nam.
                    p Điện thoại: 01223455666 - Hotline: 0980.705.705
                    p Email:
                        span.email
                            a(href="#")  info@maydungcuvesinhcongnghiep.vn
                        span &nbsp;- Website: 
                        span.website
                            a(href="#")  http://chv.vn/
//#footer
