header#header
    .container
        .logo.fleft
            a(href="index.html")
                img(src="images/logoDCVS.png", alt="logo")
        .header-banner.fleft
            h1.name
                a(href="index.html") HDD Việt Nam
        .toolbar.fright
            .cart-menu.fright
                .card-menu__inner
                    a(href="gio-hang.html")
                        span.icon
                            img(src="images/icon_cart.png", alt="icon")
                        span.card.text-right Giỏ hàng
                .proinshop
                    span.number 0
            .clearfix
            .hotline
                span.title-hotline HOTLINE: 
                span.number-phone 0918 768 102
            .search
                .search__inner
                    form(action="")
                        input(type="search" placeholder="Nhập từ khó cần tìm ...")
                        .button-search
                            a(href="#")
                                img(src="images/icon_search.png", alt="icon-search")
        .clearfix
