// Mixins
include ../../components/news-item/news-item.pug
include ../../components/product-viewlist/product-viewlist.pug
include ../../components/item-news/item-news.pug
include ../../components/item-product-horizontal/item-product-horizontal.pug
include ../../components/item-product/item-product.pug
include ../../components/slider/slider.pug
