nav#navigate-main
    .container
        .navigate
            .menu-main
                .menu
                    ul.menu-c1.list-inline
                        li.Industrial-hygiene-chemicals
                            a(href="hoa-chat-ve-sinh-cong-nghiep.html") Hóa chất vệ sinh công nghiệp
                            .menu-c2.list-product
                                ul.sub.list-inline
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product hóa chất vệ sinh gift
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product hóa chất klenco
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product hóa chất goodmaid
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product hóa chất vệ sinh suzy
                        li.cleaning-stuff.margin-left-none
                            a(href="dung-cu-ve-sinh.html") Dụng cụ vệ sinh
                            .menu-c2.list-product
                                ul.sub.list-inline
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product dụng cụ lau kính
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product dụng cụ lau sàn
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product dụng cụ vệ sinh khác

                        li.floor-scrubber
                            a(href="may-cha-san.html") Máy chà sàn
                            .menu-c2.list-product
                                ul.sub.list-inline
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product máy chà sàn cầm tay
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product máy chà sàn liên hợp
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product phụ kiện máy chà sàn
                        li.vacuum-cleaner
                            a(href="may-hut-bui.html") Máy hút bụi
                            .menu-c2.list-product
                                ul.sub.list-inline
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product máy hút bụi công nghiệp
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product máy hút bụi gia đình
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product phụ kiện máy hút bụi
                        li.Carper-cleaning-machine
                            a(href="may-giat-tham-ghe.html") Máy giặt thảm, ghế
                        li.car-wipe-the-house
                            a(href="xe-lau-nha.html") Xe lau nhà
                        li.Other-industrial-cleaning-machines
                            a(href="may-ve-sinh-cong-nghiep-khac.html") Máy vệ sinh công nghiệp khác
                            .menu-c2.list-product
                                ul.sub.list-inline
                                    li.product
                                        a(href="#")
                                            span.img-product
                                                img(src="images/product.jpg", alt="product")
                                            span.name-product máy vệ sinh thang cuốn
                        li.margin-right-none
                            a(href="contact.html") Liên hệ
nav.menu-mobie
    .bar-mobie
        i.fas.fa-bars
    ul.menu-1
        li
            a(href="#")
                span Hóa chất vệ sinh công nghiệp
                span.icon-menu 
                    i.fas.fa-chevron-right
            ul.menu-2
                li
                    a(href="#") Dụng cụ lau kính
                li
                    a(href="#") Dụng cụ lau sàn
                li
                    a(href="#") Dụng cụ vệ sinh khác
        li
            a(href="#")
                span Dụng cụ vệ sinh
                span.icon-menu 
                    i.fas.fa-chevron-right
            ul.menu-2
                li
                    a(href="#") Dụng cụ lau kính
                li
                    a(href="#") Dụng cụ lau sàn
                li
                    a(href="#") Dụng cụ vệ sinh khác
        li
            a(href="#")
                span Máy chà sàn
                span.icon-menu 
                    i.fas.fa-chevron-right
            ul.menu-2
                li
                    a(href="#") Dụng cụ lau kính
                li
                    a(href="#") Dụng cụ lau sàn
                li
                    a(href="#") Dụng cụ vệ sinh khác
        li
            a(href="#")
                span Máy hút bụi
                span.icon-menu
                    i.fas.fa-chevron-right
            ul.menu-2
                li
                    a(href="#") Dụng cụ lau kính
                li
                    a(href="#") Dụng cụ lau sàn
                li
                    a(href="#") Dụng cụ vệ sinh khác
        li
            a(href="#")
                span Máy giặt thảm , ghế
                span.icon-menu
                    i.fas.fa-chevron-right
            ul.menu-2
                li
                    a(href="#") Dụng cụ lau kính
                li
                    a(href="#") Dụng cụ lau sàn
                li
                    a(href="#") Dụng cụ vệ sinh khác
        li
            a(href="#")
                span Liên hệ
        li
            a(href="#")
                span Giỏ hàng