mixin item-product-horizontal(title, mods)
  //- Type:
  //-   title {string}
  //-   mods {string}
  //- Use:
        +item-product-horizontal()
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eum?

  .item-product-horizontal.item-product-horizontal-wrap

  //.item-product-horizontal-wrap
